@tailwind base;
@tailwind components;
@tailwind utilities;

.primery-color {
  color: #ff3811;
}
.btn-primery {
  border: 1px solid #ff3811;
  color: #ff3811;
  background: transparent;
}
.btn-primery:hover {
  background: #ff3811;
  color: white;
}

.btn-secoundry {
  background: #ff3811;
  color: white;
}
.btn-secoundry:hover {
  border: 1px solid #ff3811;
  color: #ff3811;
  background: transparent;
}
.btn-third {
  border: 1px solid white;
  color: white;
  background: transparent;
}
.btn-third:hover {
  background: white;
  color: black;
}
